// $accentText: rgba(21, 215, 132, 1);
// $textColor: rgba(46, 46, 46, 1);
// $paragraphColor: rgba(128, 128, 128, 1);
$btnYellow: #ECCB81;
$btnBlue: #71969E;
$text:rgb(13, 35, 40);
$accentColorBLue:  rgb(33, 82, 90);
$ligthBlue:  rgb(236, 244, 245);
$errorColor:  #6b3035;