@import "../../../../assets/scss/vars.scss";
@import "../../../../assets/scss/ui.scss";

.form {
  font-size: 24px;
}

.main-group {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin-block: 25px;
}

.text-group {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-block: 25px;
}

.label {
  display: inline-block;
  width: 400px;
  font-weight: 500;
}

.btn-small, .btn-delete {
  border: 1px solid $text;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: rgba(236, 202, 129, 0.2);
  }
}

.btn-small {
  width: 100px;
  height: 45px;
  line-height: 45px;
}

.btn-delete {
    width: 150px;
    height: 20px;
    font-size: 16px;
    line-height: 20px;
}

.input,
.input-medium,
.input-long {
  height: 29px;
  border-radius: 10px;
  padding-inline: 8px;
  text-align: center;
  box-shadow: 0px 0px 45px 3px rgba(170, 220, 227, 0.4) inset;
}

.input {
  width: 205px;
}

.input-medium {
  width: 500px;
}

.input-long {
  width: 1000px;
}

.margin {
    margin: 25px auto;
}


.link {
    margin: 0 auto;
    text-align: center;
}
