/* You can add global styles to this file, and also import other style files */

// Fonts
// font-family: "Caveat", cursive;
// font-family: "Alfa Slab One", serif;
// font-family: "Montserrat", sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Caveat:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@import './assets/scss/base.scss';
@import './assets/scss/reset.scss';

// @import "../node_modules/primeng/resources/themes/lara-light-blue/theme.css";
// @import "../node_modules/primeng/resources/primeng.css";